<html>

<head>
    <title>Logout</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body class="logout">
    <canvas id="canvas1">
        <script>
            const balls = [];
            const numBalls = 300;
            const colors = ["#636363", "#b5b5b5", "#e0e0e0", "#cfc8b2", "#999999"];

            for (let i = 0; i < numBalls; i++) {
                let ball = document.createElement("div");  
                ball.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
                ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
                ball.style.transform = `scale(${Math.random()})`;
                ball.style.width = `${Math.random()}em`;
                ball.style.height = ball.style.width;  
                ball.style.position = 'absolute';
                ball.style.borderRadius = "100%";
                ball.style.opacity = 0.5;
                ball.style.zIndex = -100;
                balls.push(ball);
                document.body.append(ball);
            }

            balls.forEach((el, index) => {
                let pos = { 
                    x: Math.random() * (index % 2 === 0 ? -2 : 2),
                    y: Math.random()
                };
                
                let animation = el.animate(
                    [
                        { transform: "translate(0, 0)" },
                        { transform: `translate(${pos.x}rem, ${pos.y}rem)` }
                    ],
                    {
                        duration: (Math.random() + 1) * 2500,
                        direction: "alternate",
                        iterations: Infinity,
                        easing: "ease-in-out",
                        fill: "both"   
                    }
                );
            });

        </script>
    </canvas>
    <div class="login">
        <p> You have been succesfully logged out</p>
        <a style="color: white;" href="/" > Go Back</a>
        <p></p>
    </div>
</body>

</html>